TZ=America/Sao_Paulo

VAULTZAP_INBOX=/inbox
VAULTZAP_IMPORTED_DIR=/inbox/.imported

#VAULTZAP_AFTER_IMPORT=move
#VAULTZAP_DATE_ORDER=DMY
#VAULTZAP_LOG_LEVEL=info
#VAULTZAP_ME=
#VAULTZAP_BASIC_AUTH=usuario:senha-forte
#VAULTZAP_BASIC_AUTH_FILE=/run/secrets/vaultzap_basic_auth
